* {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

html,
body {
  width: 100%;
}


button,
input,
select,
a,
img {
  outline: none;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.ar-l {
  float: left;
}

.ar-r {
  float: right;
}

.clear {
  overflow: hidden;
  zoom: 1;
  clear: both;
  _overflow: visible;
  /* for IE */
  _zoom: 1;
  /* for IE */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5;
  ;
  font-size: 15px;
}

p {
  font-size: 14px;
}

span {
  font-size: 14px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
